.pydevproject
.project
./Planif
./__pycache__
__pycache__/Galax_Vue.cpython-33.pyc
__pycache__/Galax_Modele.cpython-33.pyc
__pycache__/png.cpython-33.pyc
__pycache__/tkinter_png.cpython-33.pyc
tkinter-png_0.75/__pycache__/png.cpython-33.pyc
tkinter-png_0.75/__pycache__/tkinter_png.cpython-33.pyc
__pycache__/Galax_Modele.cpython-33.pyc
__pycache__/Galax_Vue.cpython-33.pyc
__pycache__/Galax_Vue.cpython-33.pyc
